<h2>How to use this guide</h2>
<p>
  This guide is for groups of coders who wish to unify their ember programming styles.
  This in turn will ease code readability and the speed up development and debugging processes.
  Although there are detailed explanations of each pattern on their respective page,
  please look at the code in the repo to understand what is happening.
</p>
<p>
  The Patterns and Anti-Pattern sections are meant to be clear and concise examples of best and worst practices in regards to Ember development
  The General Guidelines section is meant to give background and perspective for patterns as well as explain concepts that are not highly visible in code.
</p>

<section class="pb-4">
  <h2>Patterns</h2>
  <LinkList @items={{model.sections.patterns}}></LinkList>
</section>

<section class="pb-4">
  <h2>Anti-Patterns</h2>
  <LinkList @items={{model.sections.anti_patterns}}></LinkList>
</section>

<section class="pb-4">
  <h2>General Guidelines</h2>
  <LinkList @items={{model.sections.general}}></LinkList>
</section>

{{outlet}}