.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-viewport {
  display: flex;
  transition: all 0.5s;
  padding: 40px 0 20px;
  position: relative;
  left: 18.75%;
}

.carousel-slide {
  width: 62.5%;
  padding: 0 20px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.carousel-image-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-image {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-controls {
  text-align: center;
}