$primary:       #F6C725;

$body-bg: #002C36;
$body-color: #C3C1C1;

// $secondary:     $gray-600;
// $success:       $green;
$info:          #fff2c6;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;
