<div class="example p4">
  {{edit-user-form user=model.user}}
</div>

<PatternExplanation>
  Models have lots of handy functions to track their changes.
  This is one of the unique features of Ember and can be used as a strength if used wisely
</PatternExplanation>