<button data-test-decrease class="btn btn-lg btn-warning" {{action "updateAmount" -1}}>decrease</button>
<span data-test-amount>
  {{amount}}
</span>
<button data-test-increase class="btn btn-lg btn-success" {{action "updateAmount" 1}}>increase</button>