{{outlet}}
<h2>Presenational Component Pattern</h2>

<RatingStars @rating="3" />

<PatternExplanation>
  Thank you Dianne Eramo her <a href="https://youtu.be/Kyd2mQpR_9c?t=868">your talk at EmberConf 2019</a>
  <div class="pattern-attributes">
    <h3>Attributes</h3>
    <ul>
      <li>Only about appearance</li>
      <li>Renders some reuable HTML and CSS</li>
      <li>Only deals with UI state</li>
    </ul>
  </div>

  <section class="pattern-uses py-3">
    <h3>Pattern is great for</h3>
    <ul>
      <li></li>    
    </ul>
    <h3>Pattern is probably overkill when</h3>
    <ul>
      <li></li>    
    </ul>
  </section>
</PatternExplanation>