<div class="route-container container">
  <h2 class="route-container__title">{{title}}</h2>
  <h3 class="route-container__subtitle blockquote">
    <FaIcon @icon="chevron-right" class="mr-1"/> {{subtitle}}
  </h3>
  {{yield}}
</div>