{{edit-user-form user=this.model}}

<PatternExplanation @showText="When and Why">
  Context Aware<br>
  passes in single model<br>
  directly mutates data inside the component<br>
  Thank you Dianne Eramo for <a href="https://youtu.be/Kyd2mQpR_9c?t=377">your talk at EmberConf 2019</a>
</PatternExplanation>